<script>
  import HostsComponent from "./lib/components/hosts/HostsComponent.svelte";
  import InputComponent from "./lib/components/input/InputComponent.svelte";
  import LoaderComponent from "./lib/components/loader/LoaderComponent.svelte";
</script>

<main class="w-full h-screen">
  <LoaderComponent />
  <InputComponent />
  <div class="px-5 pt-32">
    <HostsComponent />
  </div>
</main>
