<script>
  import scan from "../../store/scan";
</script>

<div class="w-full h-[600px]">
  <div
    class="relative flex flex-col w-full h-full overflow-scroll text-gray-700 bg-white shadow-md rounded-xl bg-clip-border"
  >
    {#if $scan.length === 0}
      <div class="flex items-center justify-center px-5 py-3">
        <span class="text-gray-400 capitalize">scan network</span>
      </div>
    {/if}

    {#if $scan.length > 0}
      <table class="w-full text-left table-auto min-w-max">
        <thead>
          <tr>
            <th
              class="p-4 border-b border-blue-gray-100 bg-blue-gray-50 sticky"
            >
              <p
                class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"
              >
                Hostname
              </p>
            </th>
            <th
              class="p-4 border-b border-blue-gray-100 bg-blue-gray-50 sticky"
            >
              <p
                class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"
              >
                IP Address
              </p>
            </th>
            <th
              class="p-4 border-b border-blue-gray-100 bg-blue-gray-50 sticky"
            >
              <p
                class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"
              >
                Ping Status
              </p>
            </th>
            <th
              class="p-4 border-b border-blue-gray-100 bg-blue-gray-50 sticky"
            >
              <p
                class="block font-sans text-sm antialiased font-normal leading-none text-blue-gray-900 opacity-70"
              >
                Ports
              </p>
            </th>
          </tr>
        </thead>
        <tbody>
          {#each $scan as { IPAddress, Hostname, PingStats, ports }}
            <tr>
              <td class="p-4 border-b border-blue-gray-50">
                <p
                  class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900"
                >
                  {Hostname}
                </p>
              </td>
              <td class="p-4 border-b border-blue-gray-50">
                <p
                  class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900"
                >
                  {IPAddress}
                </p>
              </td>
              <td class="p-4 border-b border-blue-gray-50">
                <p
                  class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900"
                >
                  {PingStats.delay} ms
                </p>
              </td>
              <td class="p-4 border-b border-blue-gray-50">
                <div
                  class="flex font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900"
                >
                  {#if ports.length >= 0}
                    {#each ports as port}
                      <span
                        class="font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900 px-[1px]"
                      >
                        {port}
                      </span>
                    {/each}
                  {/if}

                  {#if ports.length === 0}
                    <span
                      class="font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900"
                    >
                      No open ports
                    </span>
                  {/if}
                </div>
              </td>
            </tr>
          {/each}
        </tbody>
      </table>
    {/if}
  </div>
</div>
