<script lang="ts">
  import loader from "../../store/loader";
  import scan from "../../store/scan";

  let inputPort = "";
  let port: number[] = [21, 22, 80, 443];
  let iprange: string = "";

  function startProbe() {
    if (iprange !== "") {
      loader.set("loading");

      if (inputPort) {
        const PortLists = inputPort
          .split(",")
          .map((value) => Number(value.trim()));
        (window as any).pywebview.api
          .start_probe(iprange, PortLists)
          .then((result: any) => {
            scan.set(result);
            loader.set("loaded");
          });
      } else {
        (window as any).pywebview.api
          .start_probe(iprange, port)
          .then((result: any) => {
            scan.set(result);
            loader.set("loaded");
          });
      }
    }
  }
</script>

<div
  class="input-component w-full bg-gray-300 py-2 px-2 flex items-center justify-between shadow-md fixed z-50"
>
  <div class="flex flex-col w-3/6">
    <div class="ip-range">
      <input
        class="rounded px-1 py-1 w-full text-sm"
        placeholder="IP range eg. 192.168.1.1/24"
        bind:value={iprange}
        type="text"
      />
    </div>

    <div class="ip-range pt-2">
      <input
        class="rounded px-1 py-1 w-full text-sm"
        bind:value={inputPort}
        placeholder="21, 22, 80, 443"
        type="text"
      />
    </div>
  </div>

  <div class="scan">
    <button class="capitalize border-2 px-4 py-1 rounded" on:click={startProbe}
      >scan</button
    >
  </div>
</div>
